@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


.blinking_scale {
  animation: blink-scale 1.5s infinite ease-in-out;
}

@keyframes blink-scale {
  0%, 100% {
    opacity: 1;
    transform: scale(1); /* Tamanho normal */
  }
  50% {
    opacity: 0.5; /* Semitransparente */
    transform: scale(1.1); /* Leve aumento no tamanho */
  }
}
 
 
.section_container {
  width: 100%;
  display: flex; 
  padding: 4rem 75px;
  gap: 49px;
}

.section_container .logo img {
  width: 546px;
  height: 751px;
  flex-shrink: 0; 
}

.section_container .content {
  width: 562px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  align-items: flex-start;  
  max-width: 600px; 
  color: #fff; 
}

.section_container .content span {
  color: #d7d7d7;
  font-family: "Inter", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;

  margin-bottom: 100px;
}

.section_container h1 {
  color: #fff;

  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 100;
  line-height: 96px;
  color: #fff; /* Cor do texto */
}

.section_container span {
  color: #d7d7d7;
  font-family: "Inter", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;

  margin-bottom: 1.5rem;
}

.section_container p {
  margin-top: 40px;
  color: #fff;

  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.2px;
}

/* Cards */

.article {
  width: 100%;
}

.worksSection {   
  color: #fff;
  padding: 2rem 75px;
}

.worksSection .sectionTitle {
  color: #fff;
  font-family: "inter", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 33.6px;
  margin-bottom: 2rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  /* padding: 0 2rem; */ 
}

.cardsContainer .cardImage {
  width: 100%;
  height: 320px;
  object-fit: cover; /* Garante que a imagem se ajuste */
}

.cardsContainer .card {
  margin-bottom: 4pc;
  overflow: hidden; /* Garante que o conteúdo não vaze */   
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardsContainer .card:hover {
  transform: scale(1.05); /* Aumenta o tamanho ligeiramente */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
}
.cardTitle {
  color: #fff;
  font-family: "Baskervville";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.cardDescription {
  color: #d2d2d2;

  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.2px;
}

.cardLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* margin: 1rem; */
  /* padding: 0.5r  em 1rem; */
  text-decoration: none;
  border-radius: 5px;
  transition: color 0.3s ease;
  color: #2d47ed;
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.cardLink img {
  width: 34.5px;
  height: 11.046px;
}

.cardLink:hover {
  color: #3d4cad;
}

.iconsContainer {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
/* participação */
.participationsSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 75px;   
}

.textContainer {
  flex: 1;
}

.participationText {
  color: #d5d5d5;
  font-family: "Epilogue";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin: 0;
}

.iconsContainer {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.participationItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon {
  width: 80px;
  height: 80px;
}

.icon {
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2) rotate(10deg);
}


.participationItem span {
  font-size: 0.875rem;
  color: #fff;
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
  .section_container { 
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0px;
    
  }

  .section_container .logo {
    width: 100%; 
  }

  .section_container .logo img {
   width: 100%;
    height: auto;
  }

  .section_container .content {
    width: 100%; 
  }

  .section_container h1 {
    font-size: 36px;
    line-height: 1.4;
    padding: 3px 0px;
  }

  .section_container p { 
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    word-wrap: break-word; 
  }

  
  /* participação */
  .participationsSection {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 2rem 75px;   
  }

  .participationsSection .iconsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
  }

  .cardsContainer {
    grid-template-columns: 1fr; /* Apenas uma coluna em telas médias */
    gap: 1.5rem;
  }

  .worksSection .sectionTitle {
    font-size: 28px;
    line-height: 1.4;
  }

  .cardImage {
    height: 150px;
  }

  .cardTitle {
    font-size: 18px;
  }

  .cardDescription {
    font-size: 13px;
  }
}

/* Para telas menores que 768px */
@media (max-width: 768px) {
   

  .section_container h1 {
    font-size: 28px;
    line-height: 1.3;
  }

  .section_container p { 
    font-size: 16.5px;
 
  }


  .worksSection .sectionTitle {
    font-size: 24px;
  }

  .cardImage {
    height: 120px;
  }

  .cardTitle { 
    font-size: 16px;
  }

  .cardDescription {
    font-size: 12px;
  }

  .participationsSection {
    flex-direction: column;
    align-items: start;
  
  }
}

/* Cards responsivos */
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 768px) {
  .section_container{
    padding: 4px 25px;

  }

  .section_container .logo{
    margin-bottom: 41px;
  }


  .worksSection {   
    color: #fff;
    padding: 2rem 25px;
  }

  .participationsSection { 
    padding: 2rem 25px;   
  }

  .participationsSection .iconsContainer{
    margin-top: 10px;
  }

  .cardsContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
