@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.work {
  width: 100%;
}

.work_Container {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 6rem 75px;
  gap: 40px;
  /* gap: 100px;  */
}


.work_Container .work_content{
  width: 100%; 
}

.work_Container .title {  
  color: #fff;
  font-family: "Inter", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 33.6px; 
}

.work .work_Container .paragraph {
  color: #fff;
  font-family: "Inter", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 33.6px;
}

.work_Container img {
  width: 700px;
  height: 386px;

  object-fit: cover;
}

.work .cards {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 51px 408px 52px 408px;
  background-color: #1b1b1b;
}

.work .cards .card1 {
  margin-right: 114px;
}

.work .cards .card h3 {
  color: #fff;
  text-align: center;
  font-family: "Inter", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 33.6px;
}

.work .cards .card p {
  color: #fff;

  text-align: center;
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
}

/* Vision */

.work .content {
  width: 100%;
  flex-direction: column;
}
/**/
.work .content .container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20rem;
  padding-top: 3rem; 
}

.work .content .imageWrapper {
  position: absolute;
}

.work .content .imageLeft {
  position: relative;
  z-index: 2;
  left: -180px;
  max-width: 100%;
  border-right: none;
}

.work .content .imageRight {
  position: relative;
  z-index: 1;
  left: 150px;
  top: 50px;
  max-width: 100%;
}

.work .content .texts {
  width: 100%;
  display: flex;
  flex-direction: column;
    padding: 51px 212px 52px 212px;
    margin-bottom: 104px; 
}

 
.work .content img {
  width: 463px;
  height: 246.487px;
}
.work .content h1 {
  color: #fff;
  font-family: "Inter", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 33.6px;
  margin-bottom: 40px;
}

.work .content span {
  color: #fff;
  font-family: "Inter", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  margin-bottom: 24px;
}

.work .content a {
  color: #2d47ed;
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.2px; /* 213.75% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.work .content p {
  color: #fff;
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.2px;
  margin-bottom: 88px;
}

.work .learn {
  text-align: center;
  padding-bottom: 103px;
}
.work .learn p {
  color: #fff;
  text-align: center;
  font-family: "Inter", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.2px;
  margin-bottom: 40px;
}


 



.work .relacionados {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.work .relacionados a {
  text-decoration: none;
}

.work .relacionados h3 {
  color: #ffffff;

  text-align: center;
  font-family: "Baskervville";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}


.work .relacionados img {
  height: 98.864px;
  flex-shrink: 0;
  align-self: stretch;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.work .relacionados img:hover {
  transform: scale(1.05); /* Aumenta o tamanho ligeiramente */  
}


/* Configurações gerais para telas pequenas */
@media (max-width: 1200px) {
  .work .work_Container { 
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

 .work .work_Container  .title{ 
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
 
  }

  .work .work_Container .paragraph { 
  text-align: center;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 40px;
 
  }


  .work .content .imageLeft{
    left: -150px; 
  }

  
  .work .content .container img{
    width: 400px;
    height: auto;

  }


    .work .work_Container img{
      width: 100%;
      height: auto;
      text-align: center;
    }



  .work .cards{ 
    padding: 40px 0px;
  }
}
 

@media (max-width: 768px) {
  .work{
    width: 100%;
  }

  .work_Container {
    width: 100%;
    padding: 0px 25px;
    gap: 0px;
    padding-bottom: 40px;
  }
 
  .work .work_Container  .title{ 
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 64px;
 
  }

  .work .work_Container .paragraph { 
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    margin-bottom: 40px;
 
  }

  .work .cards {
    padding: 44px 36 30px 36px; 
   
  }
  
  .work .cards .card1 {
    margin-right: 114px;
  }
  
  .work .cards .card h3 {
    font-size: 16px;
   
  }
  
  .work .cards .card p {
    text-align: center; 
    font-size: 12px;  
    line-height: 16px; 
  }

  .work .content .imageWrapper {
    display: flex;
    justify-content: center;
    padding-right: 90px;
  
  }

  .work .content .imageLeft{
    left: -20rem;
  /* right: 1000px; */
  background-color: #2d47ed;
  }
  .work .content .imageRight{
    left: 5rem; 
  }
 
  .work .work_Container img{
    width: 450px;
  }

  .work .content .texts{
    width: 100%; 
    padding: 0px 30px;
  }

  .work .content .texts h1{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.6px;
  }

  .work .content .texts span{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.2px;
  }

  .work .content{
    display: flex;
    justify-content: center;
  }

  .work .content .imageLeft{
    left: 0px; 
  }


  .work .content .container img{
    width: 182.719px;
    height: auto;


  }

  .work .learn {
    width: 100%;
    text-align: start;
    padding-bottom: 103px;
    padding: 0px 24px;
    padding-bottom: 64px;
  }
  .work .learn p {
    text-align: start; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.2px;
  }
  

   .work .relacionados{
    flex-direction: column;
   }

   .work .relacionados h3 {
    font-family: "Baskervville";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
   }

   .work .relacionados img {
    width: 100%;
    height: auto;
  }
  
}

@media (max-width: 480px) {
  .work .work_Container img{
   width: 100%;
height: auto;
  }
}